@import "../../index.scss";

#Services {
  width: 100vw;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 64px 128px 64px;

  @media (max-width: $mobile) {
    padding: 32px;
  }

  button {
    margin: 0 16px 0 0;
  }

  p {
    line-height: 1.4;
    font-weight: 500;
  }

  ul {
    color: $white;
  }

  img {
    width: 240px;
    margin: 16px 32px 16px 16px;
  }

  #ServicesAxiom {
    display: flex;
    align-items: center;
    margin: 16px 0;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  #ServicesSethMcHenry {
    display: flex;
    align-items: center;
    margin: 0px 0;
    img {
      border-radius: 50%;
      border: 7px solid white;
      padding: 5px;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
}
