@import "../../index.scss";

#Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, $primary, rgba($primary, 0));
  padding: 16px;
  z-index: 10;
  overflow: hidden;
  max-height: 120px;
  transition: all 0.32s ease;
  @media (max-width: $mobile) {
    background: $dark;
    max-height: 84px;
    box-shadow: 0 8px 16px 0 $shadow;
    flex-direction: column;
    text-align: center;
    * {
      flex-shrink: 0;
    }
  }

  &.expanded {
    max-height: 100vh;
  }

  img {
    height: 72px;
    cursor: pointer;

    @media (max-width: $mobile) {
      height: 48px;
    }
  }

  #Menu {
    position: absolute;
    right: 16px;
    top: 16px;
    height: 42px;
  }

  #HeaderLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $mobile) {
      flex-direction: column;
      margin-top: 32px;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 28px;
      font-family: $fontHeader;
      color: $white;
      padding: 24px 0;
      width: 132px;
      transition: all 0.16s;
      cursor: pointer;
      border-radius: 8px;

      &:hover {
        font-weight: 900;
        background: rgba($dark, 0.64);
      }

      @media (max-width: $mobile) {
        font-family: $fontHeader;
        padding: 4px;
        font-size: 32px;
        font-weight: 300;
        text-transform: uppercase;

        &:hover {
          font-weight: 300;
          background: none;
        }
      }
    }
  }

  p {
    font-size: 12px;
  }
}
