@import "../../index.scss";

#Media {
  width: 100vw;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 64px 128px 64px;

  @media (max-width: $mobile) {
    height: auto;
    flex-direction: column-reverse;
    padding: 32px;
    align-items: center;
  }
  #Twitter {
    width: 32vw;
    flex-shrink: 0;
    min-width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #MediaContent {
    margin: 32px 64px;
    @media (max-width: $mobile) {
      margin: 32px 16px;
    }
  }
}
