$fontBody: "Lato", sans-serif;
// $fontHeader: "Kadwa", serif;
$fontHeader: "EB Garamond", serif;
$primary: #0d3d64;
$dark: #08253f;
$secondary: #2792e9;
$white: #fff;
$shadow: rgba(0, 0, 0, 0.24);
$mobile: 600px;
