@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&family=Lato:wght@100;300;400;700;900&display=swap");

$fontBody: "Lato", sans-serif;
$fontHeader: "Kadwa", serif;
$primary: #0d3d64;
$secondary: #2792e9;
$white: #fff;
$shadow: rgba(0, 0, 0, 0.24);
$mobile: 600px;
